{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <div class="jumbotron">
        <h1 class="display-4">History</h1>
    </div>

    <body>
        <h4>Your transactions</h4>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Timestamp</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Price</th>
                    <th scope="col">Total</th>
                    <th scope="col">Shares</th>
                    <th scope="col">Type</th>
                </tr>
            </thead>
            <tbody>
                {% for transaction in history %}
                <tr>
                    <th scope="row"> {{ loop.index }} </th>
                    {% for var in history[loop.index0].values() %}
                    <td>{{ var }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
{% endblock %}